.navigateButton {
  display: block;
  padding: 14px 26px;
  border: 1px solid var(--borderAccent);
  border-radius: 50px;
  font-size: 18px;
  color: var(--accentColorText);
  user-select: none;
  cursor: pointer;
}

.isDisabled {
  border-color:var(--borderColorDarkGray);
  color: var(--textColorSecondary);
  cursor: auto;
}